# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# YOLO training outputs
runs/
train/
val/
test/


# Dataset files
datasets/
dataset/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db